.App {
  text-align: left;
  font-family: 'Inter';
  font-style: normal;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button{
  font-size: 1rem;
  margin: 1rem;
  padding: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: none;
  background-color: #C8B88A;
  border-radius: 0.25rem;
}

button:hover{
  font-weight: bold;
}

.frontpage-title{
  font-weight: 20rem;
  font-size: 10rem;
  margin: 0;
  margin-top: 5rem;
}

.frontpage-undertitle{
  font-size: 4rem;
}

.frontpage{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 10rem;
}


.buttons{
  text-align: center;
}

.frontpage-button{
  font-size: 7rem;
  margin: 1rem;
  border-radius: 0.25rem;
  border: none;
  padding: 0.5rem;
}

.right-arrow{
  margin-left: 1rem;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
