.mytrips-div{
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.mytrips-table{
    margin: auto;
    margin-top: 1rem;
    border-radius: 0.25rem;
    background-color: #C8B88A;
    border-collapse: collapse;
}

th{
    padding: 0.5rem;
    border: 1px solid black;
}


td{
    border: 1px solid black;
}


.create-trip-button{
    margin-left: 50rem;
}