.mytrips-div {
    text-align: center;
    width: 100%;
    height: 100%;
}
  
@media screen and (min-width: 768px) {
    .mytrips-div {
        width: 80%;
        height: 80vh;
        margin: 0 auto;
        text-align: center;
    }
}

.mytrips-table{
    margin: auto;
    margin-top: 1rem;
    border-radius: 0.25rem;
    background-color: #C8B88A;
    border-collapse: collapse;
}

th{
    padding: 0.5rem;
    border: 1px solid black;
}


td{
    border: 1px solid black;
}

.logout-button{
    margin-left: 5rem;
}

.table-button{
    text-decoration: underline;
}

.table-button:hover{
    cursor: pointer;
}